# Gradle
.gradle
.externalToolBuilders
main/gradle.properties

# Eclipse
.project
.metadata
local.properties
.classpath
.settings/
.loadpath

# Compiled
build
bin
*.py[co]

# Temporary
**/tmp
*.tmp
*.bak
*.swp
*~.nib

# Closure
sample/js/deps.js
